/* CSS Styling */


.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.one, .two , .three {
    position: relative;
    width: 300px;
    height: 120px;
}

.one-1 {background-color: #23360E; z-index: 1;}
.one-2 {background-color: #456226; z-index: 2; left: 60px;}
.one-3 {background-color: #7B8F1D; z-index: 3; left: 120px;}
.one-4 {background-color: #D0B50B; z-index: 4; left: 180px;}
.one-5 {background-color: #EBE8C1; z-index: 5; left: 240px;}

.two-1 {background-color: #274633; z-index: 1;}
.two-2 {background-color: #437540; z-index: 2; left: 60px;}
.two-3 {background-color: #6C9968; z-index: 3; left: 120px;}
.two-4 {background-color: #ABDE92; z-index: 4; left: 180px;}
.two-5 {background-color: #E8E7D6; z-index: 5; left: 240px;}

.three-1 {background-color: #1A3E42; z-index: 1;}
.three-2 {background-color: #9D5325; z-index: 2; left: 60px;}
.three-3 {background-color: #CAB79B; z-index: 3; left: 120px;}
.three-4 {background-color: #F0E4D8; z-index: 4; left: 180px;}
.three-5 {background-color: #ADCED6; z-index: 5; left: 240px;}
