* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 110vh;
  font-family: "Nunito", sans-serif;
  background-image: url(http://uiwebsoft.com/justlog/login-one/images/login-bg2.jpg);
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  color: #ffffff;
  padding: 12px 45px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  background-color: #ff574d;
  letter-spacing: 1px;
  text-transform: uppercase;
}

button.btn-left {
  color: #ff574d;
  background-color: white;
}

button.btn-right {
  width: 280px;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.form-right {
  height: 100%;
  top: 0;
  position: absolute;
  left: 50%;
  width: 50%;
  z-index: 2;
}

.form-left {
  right: 50%;
  width: 50%;
  height: 100%;
}

.overlay {
  color: #fff;
  height: 100%;
  background: #ff574d;
}

.overlay-left {
  width: 50%;
  height: 100%;
  display: flex;
  padding: 0 40px;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.social-box {
  display: flex;
}

.social-box a {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 4px;
  justify-content: center;
}
.social-box a i {
  color: #fff;
  font-size: 24px;
}

.para {
  color: white;
  font-weight: normal;
  font-size: 16px;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flex-in {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #333;
  font-size: 14px;
}

.header-title {
  font-size: 22px;
  padding-bottom: 10px;
}
span {
  font-size: 22px;
  color: #ff574d;
}
