/* Styling Kohi */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
/* font-family: "Baloo 2", sans-serif; */


body {background-color: #0B0B0B; font-family: "Handjet", sans-serif; letter-spacing: 0.1vh;}

/* pack */

.pack {  display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "ic ni san shi go";
    height: 400px;
  }
  
  .ic {  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "sigma sigma"
      "alpha epsilon"
      "beta epsilon"
      "gamma epsilon"
      "omega omega";
    grid-area: ic;
  }
  
  .sigma { grid-area: sigma; }
  
  .alpha { grid-area: alpha; display: flex; justify-content: flex-end; align-items: flex-end; padding: 6px 10px;}
  
  .beta { grid-area: beta; display: flex; justify-content: flex-end; align-items: flex-end; padding: 6px 10px;}
  
  .gamma { grid-area: gamma; display: flex; justify-content: flex-end; align-items: flex-end; padding: 6px 10px;}
  
  .epsilon { grid-area: epsilon; display: flex; justify-content: flex-end; align-items: flex-end; padding: 6px 10px;}
  
  .omega { grid-area: omega; }
  
  .ni {  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "sigma-ni sigma-ni"
      "alpha-ni epsilon-ni"
      "beta-ni epsilon-ni"
      "gamma-ni epsilon-ni"
      "omega-ni omega-ni";
    grid-area: ni;
  }
  
  .sigma-ni { grid-area: sigma-ni; }
  
  .alpha-ni { grid-area: alpha-ni; display: flex; justify-content: flex-end; align-items: flex-end; padding: 6px 10px;}
  
  .beta-ni { grid-area: beta-ni; display: flex; justify-content: flex-end; align-items: flex-end; padding: 6px 10px;}
  
  .gamma-ni { grid-area: gamma-ni; display: flex; justify-content: flex-end; align-items: flex-end; padding: 6px 10px;}
  
  .epsilon-ni { grid-area: epsilon-ni; display: flex; justify-content: flex-end; align-items: flex-end; padding: 6px 10px;}
  
  .omega-ni { grid-area: omega-ni; }
  
  .san {  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "sigma-san sigma-san"
      "alpha-san epsilon-san"
      "beta-san epsilon-san"
      "gamma-san epsilon-san"
      "omega-san omega-san";
    grid-area: san;
  }
  
  .sigma-san { grid-area: sigma-san; }
  
  .alpha-san { grid-area: alpha-san; display: flex; justify-content: flex-end; align-items: flex-end; padding: 6px 10px;}
  
  .beta-san { grid-area: beta-san; display: flex; justify-content: flex-end; align-items: flex-end; padding: 6px 10px;}
  
  .gamma-san { grid-area: gamma-san; display: flex; justify-content: flex-end; align-items: flex-end; padding: 6px 10px;}
  
  .epsilon-san { grid-area: epsilon-san; display: flex; justify-content: flex-end; align-items: flex-end; padding: 6px 10px;}
  
  .omega-san { grid-area: omega-san; }
  
  .shi {  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "sigma-shi sigma-shi"
      "alpha-shi epsilon-shi"
      "beta-shi epsilon-shi"
      "gamma-shi gamma-shi"
      "omega-shi omega-shi";
    grid-area: shi;
  }
  
  .sigma-shi { grid-area: sigma-shi;  display: flex; justify-content: center; align-items: center;}
  
  .alpha-shi { grid-area: alpha-shi; display: flex; justify-content: flex-end; align-items: flex-end; padding: 6px 10px;}
  
  .beta-shi { grid-area: beta-shi; display: flex; justify-content: flex-end; align-items: flex-end; padding: 6px 10px;}
  
  .gamma-shi { grid-area: gamma-shi; display: flex; justify-content: flex-end; align-items: flex-end; padding: 6px 10px;}
  
  .epsilon-shi { grid-area: epsilon-shi; display: flex; justify-content: flex-end; align-items: flex-end; padding: 6px 10px;}
  
  .omega-shi { grid-area: omega-shi; }
  
  .go {  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "sigma-go sigma-go"
      "alpha-go alpha-go"
      "beta-go epsilon-go"
      "gamma-go epsilon-go"
      "omega-go omega-go";
    grid-area: go;
  }
  
  .sigma-go { grid-area: sigma-go; display: flex; justify-content: center; align-items: center;}
  
  .alpha-go { grid-area: alpha-go; display: flex; justify-content: flex-end; align-items: flex-end; padding: 6px 10px;}
  
  .beta-go { grid-area: beta-go; display: flex; justify-content: flex-end; align-items: flex-end; padding: 6px 10px;}
  
  .gamma-go { grid-area: gamma-go; display: flex; justify-content: flex-end; align-items: flex-end; padding: 6px 10px;}
  
  .epsilon-go { grid-area: epsilon-go; }
  
  .omega-go { grid-area: omega-go; }
  

/* Another */

.alpha, .alpha-ni, .alpha-san, .alpha-shi, .alpha-go, .beta, .beta-ni, .beta-san, .beta-shi, .beta-go, .gamma, .gamma-ni, .gamma-san, .gamma-shi, .gamma-go, .epsilon, .epsilon-ni, .epsilon-san, .epsilon-shi, .epsilon-go {border-radius: 8px;}

.pack {
    .ic {
        .alpha {background-color: #DCA97A;}
        .beta {background-color: #B7714F;}
        .gamma {background-color: #6B3626;}
        .epsilon {background-color: #A3BBBF;}
    }

    /* .ni {
        .alpha-ni {background-color: #504098;}
        .beta-ni {background-color: #FD7CBD;}
        .gamma-ni {background-color: #984CC6;}
        .epsilon-ni {background-color: #303C66;}
    } */

    .san {
        .alpha-san {background-color: #F3486A;}
        .beta-san {background-color: #FF9679;}
        .gamma-san {background-color: #964063;}
        .epsilon-san {background-color: #E4E9BE;}
    }

    .shi {
        .alpha-shi {background-color: #9EB799;}
        .beta-shi {background-color: #FFCEAB;}
        .gamma-shi {background-color: #EE897F;}
        .epsilon-shi {background-color: #F14668;}
    }

    .go {
        .sigma-go h3 {color: #F8A233; position: absolute; top: 5vh; font-family: "Handjet", sans-serif; font-size: 1.5em; letter-spacing: 0.5vh;}
        .alpha-go {background-color: #CC5F34;}
        .beta-go {background-color: #F8A233;}
        .gamma-go {background-color: #6A693B;}
        .epsilon-go img {width: 100%; height: 100%;}
        .omega-go p {color: #6A693B; margin: 0;}
    }
}