/* CSS Styling */


.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.one, .two , .three, .four, .five, .six, .seven, .eight {
    position: relative;
    width: 300px;
    height: 120px;
}

.one-1 {background-color: #23360E; z-index: 1;}
.one-2 {background-color: #456226; z-index: 2; left: 60px;}
.one-3 {background-color: #7B8F1D; z-index: 3; left: 120px;}
.one-4 {background-color: #D0B50B; z-index: 4; left: 180px;}
.one-5 {background-color: #EBE8C1; z-index: 5; left: 240px;}

.two-1 {background-color: #274633; z-index: 1;}
.two-2 {background-color: #437540; z-index: 2; left: 60px;}
.two-3 {background-color: #6C9968; z-index: 3; left: 120px;}
.two-4 {background-color: #ABDE92; z-index: 4; left: 180px;}
.two-5 {background-color: #E8E7D6; z-index: 5; left: 240px;}

.three-1 {background-color: #1A3E42; z-index: 1;}
.three-2 {background-color: #9D5325; z-index: 2; left: 60px;}
.three-3 {background-color: #CAB79B; z-index: 3; left: 120px;}
.three-4 {background-color: #F0E4D8; z-index: 4; left: 180px;}
.three-5 {background-color: #ADCED6; z-index: 5; left: 240px;}

.four-1 {background-color: #1F3C1C; z-index: 1;}
.four-2 {background-color: #914A13; z-index: 2; left: 60px;}
.four-3 {background-color: #C6840E; z-index: 3; left: 120px;}
.four-4 {background-color: #ECC721; z-index: 4; left: 180px;}
.four-5 {background-color: #EBEAC6; z-index: 5; left: 240px;}

.five-1 {background-color: #2D4047; z-index: 1;}
.five-2 {background-color: #4E7151; z-index: 2; left: 60px;}
.five-3 {background-color: #A1AEC6; z-index: 3; left: 120px;}
.five-4 {background-color: #E5ECF4; z-index: 4; left: 180px;}
.five-5 {background-color: #269DCF; z-index: 5; left: 240px;}

.six-1 {background-color: #3D2D13; z-index: 1;}
.six-2 {background-color: #746E39; z-index: 2; left: 60px;}
.six-3 {background-color: #CBA687; z-index: 3; left: 120px;}
.six-4 {background-color: #FFC98B; z-index: 4; left: 180px;}
.six-5 {background-color: #C67647; z-index: 5; left: 240px;}

.seven-1 {background-color: #2B4D14; z-index: 1;}
.seven-2 {background-color: #9C9732; z-index: 2; left: 60px;}
.seven-3 {background-color: #F7EBCE; z-index: 3; left: 120px;}
.seven-4 {background-color: #F0D361; z-index: 4; left: 180px;}
.seven-5 {background-color: #B7862D; z-index: 5; left: 240px;}

.eight-1 {background-color: #0A5140; z-index: 1;}
.eight-2 {background-color: #197B38; z-index: 2; left: 60px;}
.eight-3 {background-color: #59A735; z-index: 3; left: 120px;}
.eight-4 {background-color: #E3EDC2; z-index: 4; left: 180px;}
.eight-5 {background-color: #CABC3E; z-index: 5; left: 240px;}

/*  */