/* Styling Kohi */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
/* font-family: "Baloo 2", sans-serif; */

* {margin: 0; padding: 0; box-sizing: border-box;}


body {background-color: #0B0B0B; font-family: "Handjet", sans-serif; letter-spacing: 0.1vh;}

/* pack */

.pack {  display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "ic ni san shi";

    height: 400px;
    margin: -30px 100px;
  }
  
  .ic {  display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "sigma sigma"
      "alpha epsilon"
      "beta epsilon"
      "gamma epsilon"
      "omega omega";
    grid-area: ic;
    gap: 10px 10px;
  }
  
  .sigma { grid-area: sigma; }
  
  .alpha { grid-area: alpha; }
  
  .beta { grid-area: beta; }
  
  .gamma { grid-area: gamma; }
  
  .epsilon { grid-area: epsilon; }
  
  .omega { grid-area: omega; }
  
  .ni {  display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "sigma-2 sigma-2"
      "alpha-2 epsilon-2"
      "beta-2 epsilon-2"
      "gamma-2 gamma-2"
      "omega-2 omega-2";
    grid-area: ni;
    gap: 10px 10px;
  }
  
  .sigma-2 { grid-area: sigma-2; }
  
  .alpha-2 { grid-area: alpha-2; }
  
  .beta-2 { grid-area: beta-2; }
  
  .gamma-2 { grid-area: gamma-2; }
  
  .epsilon-2 { grid-area: epsilon-2; }
  
  .omega-2 { grid-area: omega-2; }
  
  .san {  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1.3fr repeat(3, 0.7fr) 1.6fr;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "sigma-3 sigma-3"
      "alpha-3 alpha-3"
      "beta-3 beta-3"
      "gamma-3 gamma-3"
      "omega-3 omega-3";
    grid-area: san;
    gap: 10px 10px;
  }
  
  .sigma-3 { grid-area: sigma-3; }
  
  .alpha-3 { grid-area: alpha-3; }
  
  .beta-3 { grid-area: beta-3; }
  
  .gamma-3 { grid-area: gamma-3; }
  
  .omega-3 { grid-area: omega-3; }
  
  .shi {  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "sigma-4 sigma-4"
      "alpha-4 alpha-4"
      "beta-4 epsilon-4"
      "gamma-4 epsilon-4"
      "omega-4 omega-4";
    grid-area: shi;
    gap: 10px 10px;
  }
  
  .sigma-4 { grid-area: sigma-4; }
  
  .alpha-4 { grid-area: alpha-4; display: flex; justify-content: space-between; align-items: flex-end; padding: 6px 10px;}
  
  .beta-4 { grid-area: beta-4; }
  
  .gamma-4 { grid-area: gamma-4; }
  
  .epsilon-4 { grid-area: epsilon-4; }
  
  .omega-4 { grid-area: omega-4; }

/* Another */

.alpha, .beta, .gamma, .epsilon, .alpha-2, .beta-2, .gamma-2, .epsilon-2, .alpha-3, .beta-3, .gamma-3, .alpha-4, .beta-4, .gamma-4 ,.epsilon-4 {border-radius: 8px;}

.pack {
    .ic {
        .alpha {background-color: #DCA97A;}
        .beta {background-color: #B7714F;}
        .gamma {background-color: #6B3626;}
        .epsilon {background-color: #A3BBBF;}
    }

    .ni {
        .alpha-2 {background-color: #9EB799;}
        .beta-2 {background-color: #FFCEAB;}
        .gamma-2 {background-color: #EE897F;}
        .epsilon-2 {background-color: #F14668;}
    }

    .san {
        .alpha-3 {background-color: #F2F2E8;}
        .beta-3 {background-color: #4A8B85;}
        .gamma-3 {background-color: #031B1D; color: #4A8C85;}
    }

    .shi {
        .sigma-4 h3 {color: #F8A233; position: absolute; top: 5vh; font-family: "Handjet", sans-serif; font-size: 1.5em; letter-spacing: 0.5vh;}
        .alpha-4 {background-color: #CC5F34; 
          span {text-transform: uppercase; font-size: 2em; font-weight: 600;}
        }
        .beta-4 {background-color: #F8A233;}
        .gamma-4 {background-color: #6A693B;}
        .omega-4 p {color: #6A693B; margin: 0;}
        .epsilon-4 img {width: 100%; height: 100%;}
    }
}

/* packer */

.packer {  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "go rok nan hac";
    height: 400px;
    margin: -30px 100px;
}

.go {  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sigma-5 sigma-5"
    "alpha-5 epsilon-5"
    "beta-5 epsilon-5"
    "gamma-5 epsilon-5"
    "omega-5 omega-5";
  grid-area: go;
  gap: 10px 10px;
}

.sigma-5 { grid-area: sigma-5; }

.alpha-5 { grid-area: alpha-5; }

.beta-5 { grid-area: beta-5; }

.gamma-5 { grid-area: gamma-5; }

.epsilon-5 { grid-area: epsilon-5; }

.omega-5 { grid-area: omega-5; }

.rok {  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sigma-6 sigma-6"
    "alpha-6 alpha-6"
    "beta-6 epsilon-6"
    "gamma-6 epsilon-6"
    "omega-6 omega-6";
  grid-area: rok;
  gap: 10px 10px;
}

.sigma-6 { grid-area: sigma-6; }

.alpha-6 { grid-area: alpha-6; display: flex; justify-content: space-between; align-items: flex-end; padding: 6px 10px;}

.beta-6 { grid-area: beta-6; }

.gamma-6 { grid-area: gamma-6; }

.epsilon-6 { grid-area: epsilon-6; }

.gamma-6 { grid-area: gamma-6; }

.nan {
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(5, 1fr); 
  gap: 10px 10px; 
  grid-template-areas: 
    "sigma-7 sigma-7"
    "alpha-7 alpha-7"
    "beta-7 epsilon-7"
    "gamma-7 epsilon-7"
    "omega-7 omega-7"; 
  grid-area: nan; 
}
.sigma-7 { grid-area: sigma-7; }
.alpha-7 { grid-area: alpha-7; display: flex; justify-content: space-between; align-items: flex-end; padding: 6px 10px;}
.beta-7 { grid-area: beta-7; }
.gamma-7 { grid-area: gamma-7; }
.epsilon-7 { grid-area: epsilon-7; }
.omega-7 { grid-area: omega-7; }

.hac {
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: 1.3fr repeat(3, 0.7fr) 1.6fr;
  gap: 10px 10px; 
  grid-template-areas: 
    "sigma-8 sigma-8"
    "alpha-8 alpha-8"
    "beta-8 beta-8"
    "gamma-8 gamma-8"
    "omega-8 omega-8"; 
  grid-area: hac; 
}
.sigma-8 { grid-area: sigma-8; }
.alpha-8 { grid-area: alpha-8; }
.beta-8 { grid-area: beta-8; }
.gamma-8 { grid-area: gamma-8; }
.omega-8 { grid-area: omega-8; }

/* Another */

.alpha-5, .beta-5, .gamma-5, .epsilon-5, .alpha-6, .beta-6, .gamma-6, .alpha-7, .beta-7, .gamma-7, .alpha-8, .beta-8, .gamma-8 {border-radius: 8px;}

.packer {
  .go {
    .alpha-5 {background-color: #FFC0DB;}
    .beta-5 {background-color: #FBF9E4;}
    .gamma-5 {background-color: #8BCED7;}
    .epsilon-5 {background-color: #FF8EBA;}
  }

  .rok {
    .alpha-6 {background-color: #242021; color: #CA9B43;
      span {text-transform: uppercase; font-size: 2em; font-weight: 600;}
    }
    .beta-6 {background-color: #FEFEFE;}
    .gamma-6 {background-color: #CA9B43;}
    .epsilon-6 img {width: 100%; height: 100%;}
  }

  .nan {
    .alpha-7 {background-color: #618C79;
      span {text-transform: uppercase; font-size: 2em; font-weight: 600;}
    }
    .beta-7 {background-color: #C8D4C8;}
    .gamma-7 {background-color: #966C3A;}
    .epsilon-7 img {width: 100%; height: 100%;}
  }

  .hac {
    .alpha-8 {background-color: #EBE6DA;}
    .beta-8 {background-color: #8E8E8E;}
    .gamma-8 {background-color: #5F5942;}
  }
}