/* Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 5% auto;
    background-color: #F0EAE4;
    font-family: 'Courier New';
}

.chrysanthemum {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    h1 {
        font-size: 1.7em;
    }
    .btn {
        background-color: #BD5931;
        border: 1.5px solid transparent;
        border-radius: 4px;
    
        padding: 5px 10px;
        margin: auto 30px;
        cursor: pointer;
        color: #FFF;

        font-size: 1.2em;
    }
    p {font-size: 1.3em;}
}

.chrysanthemum .btn:hover {
    border: 1.5px solid tomato;
    background-color: #A8A646;
}
