* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /* reset CSS */

html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: "Courier New", Courier, monospace;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
a {
  color: #333;
  text-decoration: none;
}

.header {
  padding: 20px 0;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu {
      margin-left: auto;
      ul {
        display: flex;
        list-style: none;
        li {
          a {
            display: block;
            padding: 0 20px;
            font-weight: 700;
          }
        }
      }
    }
    .contact {
      .btn {
        display: block;
        color: #fff;
        padding: 10px 30px;
        border-radius: 99px;
        font-weight: 700;
        background: #75b7eb;
      }
    }
    .bar {
      display: none;
    }
  }
}

@media screen and (max-width: 991px) {
  .container {
    padding: 0 20px;
  }
  .header .row .menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 250px;
    background: #353434;
    ul {
      display: block;
      padding: 20px;
      li {
        a {
          color: #fff;
          padding: 10px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 250px;
    background: #353434;
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;
    ul {
      display: block;
      padding: 20px;
      li {
        a {
          color: #fff;
          padding: 10px 0;
        }
      }
    }
  }

  .header .row {
    .contact {
      display: none;
    }
    .bar {
      display: block;
    }
  }
  .container {
    padding: 0 20px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
    transform: translateX(0) !important ;
  }

  input[type="checkbox"]:checked ~ .overlay {
    position: absolute;
    inset: 0;
    background-color: #3333336a;
  }
}
