/* CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
.carousel {
  position: relative;
  overflow: hidden;
}
.carousel .carousel-inner {
  display: flex;
  transition: translate 1000ms linear;
}
.carousel .carousel-inner > * {
  width: 100%;
  flex-shrink: 0;
}
.carousel .carousel-nav span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #a27266;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
.carousel .carousel-nav span.prev {
  left: 10px;
}
.carousel .carousel-nav span.next {
  right: 10px;
}

.dots {
  position: absolute;
  bottom: 10px;
  color: #fff;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.dots li {
  list-style: none;
  width: 7px;
  height: 7px;
  background: #fff;
  margin: 5px;
  border-radius: 10px;
}

.carousel .dots li.active {
  background-color: tomato;
}
