* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: sans-serif;
}

body {
  font-size: 1.6em;
}

.container {
  display: flex;
}

.timeline {
  width: 100%;
  height: auto;
  .column {
    display: flex;
    padding: 0 0 30px 0;
    justify-content: center;
    .left {
      text-align: right;
      margin-right: 60px;
      h3 {
        position: relative;
        text-transform: capitalize;
        font-size: 24px;
        font-family: "Space Grotesk";
      }
      .content {
        position: relative;
        font-size: 1.4rem;
        font-family: "Inter";
        line-height: 2;
        p {
          margin: 10px;
        }
        a {
          color: #2a2a2a;
          text-decoration: none;
        }
      }
    }
    p {
      top: 7px;
      font-size: 12px;
      position: relative;
    }
  }
}

.left .content a:hover {
  background-color: #da754a;
  color: #fff;
}

h3::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 5px solid #d1cece;
  background-color: #dd571c;
  right: -39px;
  top: 1px;
}

.content::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 140%;
  background-color: #ddd;
  right: -30px;
  top: -10px;
}

a {
  padding: 5px 15px;
  border-radius: 99px;
  display: inline-block;
  background-color: #b9b5b5;
  transition: 1.6s linear;
  transition-property: background-color, color;
}
/*  */
.right {
  width: 100%;
  height: auto;
  position: relative;
  .wrap {
    img {
      width: 100%;
    }
  }
  .first-w {
    top: 0;
    right: 0;
    width: 65%;
    position: absolute;
  }
  .second-w {
    top: 30%;
    right: 50%;
    width: 35%;
    position: absolute;
    .plus {
      width: 80%;
      height: 80%;
      top: 10%;
      left: 10%;
      color: #fff;
      position: absolute;
      background-color: #617acf;
      .plus-text {
        right: 15%;
        bottom: 7%;
        position: absolute;
        .twelv {
          right: 0;
          bottom: 50%;
          font-size: 50px;
          position: absolute;
        }
      }
    }
  }
}
